Los Simpsons 20x01 - Pasteles y Persecusiones
Los Simpsons 20x02 - Comunicación Perdida
Los Simpsons 20x03 - El Doble de Bart
Los Simpsons 20x04 - La Casita del Horror XIX
Los Simpsons 20x05 - Curvas Peligrosas
Los Simpsons 20x06 - Intercambio de Palabras
Los Simpsons 20x07 - Mypods y Dinamita
Los Simpsons 20x08 - Burns y las Abejas
Los Simpsons 20x09 - Lisa La Reina Del Drama
Los Simpsons 20x10 - Cambia Mi Vida Por Favor
Los Simpsons 20x11 - Cómo Se Ganó La Prueba
Los Simpsons 20x12 - No más préstamos
Los Simpsons 20x13 - Maggie se Ha Ido
Los Simpsons 20x14 - En el Nombre del Abuelo
Los Simpsons 20x15 - Boda desastrosa
Los Simpsons 20x16 - El Gran Pequeño amor de Moe
Los Simpsons 20x17 - Los Buenos, los Tristes y los Drogados
Los Simpsons 20x19 - Waverly Hills 9-0-2-1-D'Oh
Los Simpsons 20x20 - Cuatro Grandes Mujeres y Manicures
Los Simpsons 20x21 - Homerica
