.news-container {
    text-align: center;
}

.news-container h2 {
    text-align: center;
    font-size: 2em;
    margin: 5px;
}
.news-container img {
    background-position: center;
    background-attachment: local;
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    max-width: 200px;
    min-width: 150px;
}
.news-container h3 {
    text-align: center;
    font-size: 1.6em;
}
.news-container h3:hover {
  color: #087FDB;
}
.news-container ul {
    margin-top: 5px;
    display: inline-flex;
    list-style: none;
}
.news-container li {
      margin: 5px;
      max-height: 150px;    
}
